{% set isEdit = button_label is defined and button_label == 'Update' %}
<div class="card shadow-lg rounded-4 mt-4 mb-4 mx-auto" style="max-width: 600px;">
    <div class="card-header bg-primary text-white text-center rounded-top-4">
        <h4 class="mb-0">
            {{ isEdit ? 'Edytuj lokalizację' : 'Dodaj nową lokalizację' }}
        </h4>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'class': 'row g-4'}}) }}
        <div class="col-md-12">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-12 text-center mt-3">
            <button class="btn btn-success px-4 py-2" style="font-size: 1.1em;">
                {{ button_label|default('Zapisz') }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
